.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.conteiner button{
    background-color: blue;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s ;

}

.container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1)

}

.headers{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    z-index: 99;
    white-space: 100%;
    
}

.headers .empresa {
    font-size: 30px;
    margin-right: 200px;
}

.logo {
    background-image: url("./staticsgeral/Logo.jpg");
    max-width:150px;
    max-height:150px;
    width: 100px;
    height: 100px;
    display:inline-flex;
    position: relative;
    margin: 4px;
}



.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-right: 50px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background: #000000;
    border-radius:5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: right;

    transform: scaleX(1);


}

.navigation .buttonlogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #020202;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #070707;
    font-weight: 500;
    margin-right: 200px;
    transition: .5s;

    
}
.navigation .buttonlogin:hover{
    background: #f7f5f5;
    color: #000000;
}